In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [20]:
#g_key

'AIzaSyDST10ADZESgUr20pplr3rGc2JN1KTsfms'

In [12]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Zhigansk,RU,2/5/2022 3:11,66.7697,123.3711,-27.02,98,99,4.99
1,1,Bajil,YE,2/5/2022 3:11,15.0584,43.2851,74.14,82,75,3.24
2,2,Port Elizabeth,ZA,2/5/2022 3:11,-33.9180,25.5701,67.10,79,94,7.83
3,3,Coquimbo,CL,2/5/2022 3:11,-29.9533,-71.3436,64.13,82,0,2.30
4,4,Ushuaia,AR,2/5/2022 3:11,-54.8000,-68.3000,46.06,81,0,11.50

In [13]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [25]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat',"Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]# an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Butaritari,KI,2/5/2022 3:11,3.0707,172.7902,82.63,77,36,17.76
12,12,Mackay,AU,2/5/2022 3:11,-21.1500,149.2000,88.68,67,90,20.85
21,21,Mahebourg,MU,2/5/2022 3:11,-20.4081,57.7000,80.26,89,75,17.27
29,29,Rikitea,PF,2/5/2022 3:11,-23.1203,-134.9692,79.07,68,4,8.14
30,30,Tsabong,BW,2/5/2022 3:11,-26.0217,22.4010,75.07,36,38,9.24
33,33,Kununurra,AU,2/5/2022 3:11,-15.7667,128.7333,78.78,94,100,6.91
35,35,Kapaa,US,2/5/2022 3:11,22.0752,-159.3190,77.32,85,40,3.00
36,36,Saint-Philippe,RE,2/5/2022 3:11,-21.3585,55.7679,80.19,89,100,25.17
39,39,Vaini,TO,2/5/2022 3:09,-21.2000,-175.2000,77.16,94,100,17.27
40,40,Hambantota,LK,2/5/2022 3:11,6.1241,81.1185,77.41,76,81,7.81

In [30]:
preferred_cities_df.count()

City_ID       158
City          158
Country       157
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
6       Butaritari      KI     82.63   3.0707  172.7902
12          Mackay      AU     88.68 -21.1500  149.2000
21       Mahebourg      MU     80.26 -20.4081   57.7000
29         Rikitea      PF     79.07 -23.1203 -134.9692
30         Tsabong      BW     75.07 -26.0217   22.4010
33       Kununurra      AU     78.78 -15.7667  128.7333
35           Kapaa      US     77.32  22.0752 -159.3190
36  Saint-Philippe      RE     80.19 -21.3585   55.7679
39           Vaini      TO     77.16 -21.2000 -175.2000
40      Hambantota      LK     77.41   6.1241   81.1185

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [38]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Butaritari,KI,82.63,3.0707,172.7902,Isles Sunset Lodge
12,Mackay,AU,88.68,-21.1500,149.2000,International Lodge Motel
21,Mahebourg,MU,80.26,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
29,Rikitea,PF,79.07,-23.1203,-134.9692,People ThankYou
30,Tsabong,BW,75.07,-26.0217,22.4010,Springbok Motel

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [43]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))